.footer {
    background-color: #fff;
    text-align: center;
    padding: 22px 0 20px;
    line-height: 1.15;
    position: relative;
 }

.footer .corp__item {
    display: inline-block;
 }
.footer .corp__item a {
    font-size: 13px;
    line-height: 14px;
    color: rgb(5,20,31);
    font-weight: bold;
}

.footer .cpy {
    color: rgb(0, 0, 0);
    opacity: 0.8;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: -0.28px; }

.lang__item a {
    color: rgb(10, 10, 10);
    font-size: 15px;
    font-weight: 100;
    line-height: 17px;
}
.lang__item span {
    color: rgb(65, 65, 65);
    font-size: 15px;
    font-weight: bold;
    line-height: 17px;
}

.lang__item span::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 11px;
    margin-left: 0.9rem;
    margin-right: 0.6rem;
    background-color: #05141f;
    opacity: 0.2;
}
.lang ,.sns {
    display: flex;
}

.sns__link--instagram svg, .sns__link--facebook img,.sns__link--youtube img {
    width: 20px;
}
.sns {
    margin-right: 26px;
    align-items: center;
}
.sns__link--facebook, .sns__link--youtube {
    margin-left: 20px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.footer_rignt {
    display: flex;
    align-items: center;
}
.cpy {
    margin-right: 10px;
}
.footer__container .lang {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}



@media only screen and (max-width: 959px) {
    
    /* © KIA MOTORS CORP.를 제외한 다른 요소들은 사라짐 */
    .footer .corp, .footer .sns, .footer .lang {
        display: none;
        }

    .footer .cpy {
        color: rgb(255,255,255);
        } 
    /* © KIA MOTORS CORP.가 가운데로 온다. */

    .footer {
        position: absolute;
        width: 100%;
        bottom: 25px;
        background-color: transparent;
        text-align: center;
        padding: 0;
        margin: 0 auto;
    }
    .footer_rignt {
        justify-content: center;
    }
    .footer__inner {
        justify-content: center;
    }
}