/* hero - 1st vh */



header, div {
    display: block; }

.pin-spacer {
    width: 100%;
    height: 100vh;
}    
.main_bg {
    width: 100%;
    height: 100%;
    background-image: url(../img/hero-lg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-position: 50% 50%;
    object-fit: cover;
}
.hero {
    min-height: 100vh;
    position: relative;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden; 
    width: 100%;
    height: 100%;
 }


.hero__cont {
    position: absolute;
    left: 50%;
    bottom: 10%;
    z-index: 11;
    text-align: center;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
 }

.hero .eyebrow {
    color: rgb(246,242,237);
    font-family: "KiaSignature", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 3px; 
    margin-bottom: 20px; }


.hero .title {
    margin: 0;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.3;
    color:rgb(255,255,255); }

.btn-guide-arrow {
    opacity: 1;
    visibility: inherit;
    position: absolute;
    bottom: 3%;
    left: 50%;
    width: 29px;
    height: 25px;
    transform: translate3d(-50%, 0, 0);
    animation: arrow-down infinite 1.5s;
    cursor: pointer;
    z-index: 11;
    background-image: url(../img/arrow_down.png); }


    /* Arrow-down 애니메이션 적용 */
@keyframes arrow-down {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0); }
  30% {
    -webkit-transform: translate3d(-50%, 20%, 0);
            transform: translate3d(-50%, 20%, 0); }
  60% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0); } }



@media only screen and (max-width: 414px) {

    .hero {
        background-image: url(../img/hero-sm.jpg);
        background-position: center center; }
    .hero .eyebrow {
        font-size: 14px; }
    .hero .title {
        font-size: 30px;
        line-height: 41.6px; }
    .btn-guide-arrow {
        width: 20px;
        height: 15px;
    }

}

@media only screen and (min-width: 415px) and (max-width: 959px) {

    .hero { 
        object-position: right 50%;
        object-fit: cover; }
}

/* 2nd vh */

main .pin-spacer:nth-child(1) {
    z-index: 12;
    float: none;
    flex-shrink: 1;
    display: flex;
    margin: 0px;
    inset: 0px;
    position: relative;
    overflow: visible;
}

.veil {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; 
    left: 0; 
    background-color: rgba(57, 50, 43, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20; }


.veil__cont { 
    min-height: 280px;
    color: rgb(255,255,255);
    word-break: keep-all;
    word-wrap: break-word;
    margin: 0 auto; }

.veil__sub {
    font-size: 22px;
    line-height: 35px;
    font-weight: 100;
    text-align: center;  }

.veil__sub_2 {
    display: none;
    font-size: 22px;
    line-height: 35px;
    font-weight: 100; }    


@media only screen and (min-width: 415px) and (max-width: 959px) {

    .veil__cont { 
        padding: 8% 0 }
    .veil__cont {
        margin-left: 12%; }
    .veil__sub { 
        display: none; }
    .veil__sub_2 { 
        display: block;
        text-align: left;
        font-size: 16px;
        line-height: 25.6px; }
}

@media only screen and (max-width: 414px) {
    .veil__sub { 
        display: block;
        text-align: left; 
        font-size: 16px;
        line-height: 25.6px;
        padding: 0 10%; }
    .veil__sub_2 { 
        display: none; }
    
}

/* 3rd vh */

.pin-spacer_3rd {
    width: 100%;
    height: 100vh;
    background-color: rgb(80,95,120);
    position: relative;
}

.sect__front {
    width: 100%;
    height: 100vh;
}

.sect__visual {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 0 0 100px;
}

.video-rwd video {
    width: 960px; }



.sect__area {
    position: relative; }
.sect__cont {
    position: absolute;
    top: 35vh;
    left: 12%; }
.sect__h {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255,255,255); }
.sect__p {
    font-size: 20px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.8);
    margin: 0.3rem 0 65%; }



@media only screen and (min-width: 415px) and (max-width: 959px) { 
    .sect__area {
        z-index: 10;
        position: relative;  }
    .sect__cont {
        top: 7vh;
        left: 3%; }
    .sect__visual {
        padding: 110px 0;
    }
    .sect__h {
        font-size: 26px; }
    .sect__p {
        font-size: 16px; }
}

@media only screen and (max-width: 414px) {

    .sect__area {
        z-index: 10;
        margin-left: -35px; }
    .sect__cont {
        top: 34vh; }
    .video-rwd video {
        position:absolute; 
        top: 50%;
        left: 0;
        margin-top: -100px;
    }
    .sect__h {
        font-size: 26px; }
    .sect__p {
        font-size: 16px; }
}