
* {margin: 0; padding: 0; box-sizing: border-box;}

ul,
ol,
dl,
dt,
dd {
  margin: 0;
  padding: 0; }

ol,
ul {
    list-style:none;
    list-style-type:none; }

div, ul, li {
    background-size: cover;
    background-repeat: no-repeat;
    }

audio,
canvas,
video {
    display: inline-block; }

img,
video {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: top; }

svg:not(:root) {
    overflow: hidden;
    max-width: 100%;
    vertical-align: top; }

a {
    cursor: pointer;
}